@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1536px;
  margin-inline: auto;
}

header {
  background-color: #ffffff;
  padding: 1rem 4rem;
  border-bottom: 1px solid rgba(195, 212, 233, 0.4);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-bar .right-nav-bar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.logo {
  color: #3563e9;
  font-size: 2rem;
  font-weight: 700;
}

.right-nav-bar .search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
  padding: 0.5rem 1rem;
}

.search-bar .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
}

.search .search-icon {
  width: 1.1rem;
}

.search input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 0.8rem;
  color: #0d121f;
  padding-left: 0.8rem;
}

.search-bar .filter-pc {
  width: 1.2rem;
}

.nav-bar .left-nav-bar {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.left-nav-bar i {
  font-size: 1.1rem;
  background-color: #ffffff;
  border: 1px solid rgba(195, 212, 233, 0.4);
  padding: 0.5rem;
  border-radius: 50px;
  color: #596780;
  cursor: pointer;
}

.notivication {
  position: relative;
}

.notivication span {
  position: absolute;
  top: 0;
  right: -0.1px;
  background-color: #ff4423;
  padding: 0.23rem;
  border-radius: 60%;
}

.fa-heart:hover {
  color: #ff4423;
}

.profile-pic {
  width: 2rem;
}

/* mobile and tablet device nav-bar */
.nav-m-device {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.fa-bars {
  font-size: 24px;
  color: #596780;
}

.nav-m-device .logo-p-picture {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-m-device {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-m-device .search-m-device {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 2px solid rgba(195, 212, 233, 0.4);
  border-radius: 10px;
  padding: 1rem 2rem;
}

.search-m-device input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #596780;
}

.search-bar-m-device input::placeholder {
  color: #596780;
}

.search-bar-m-device a {
  border: 2px solid rgba(195, 212, 233, 0.4);
  padding: 1rem;
  border-radius: 10px;
  color: #596780;
  cursor: pointer;
}

/* ===================Main Styling ========================= */

main {
  background-color: #f6f7f9;
}

.right {
  width: 100%;
  margin: 0 auto;
  padding: 1.7rem;
  margin-top: 2rem;
}
.wrapper {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
}
/* =========================Left  Card =============== */
.left-card {
  max-width: 497px;
}
.card-img {
  border-radius: 10px;
  max-width: 497px;
  height: auto;
  background-color: rgba(53, 99, 233, 1);
  position: relative;
}
.card-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  min-height: 360px;
}
.img2 {
  min-height: 300px;
}
.card-text > h2 {
  font-size: clamp(16px, 6vw, 34px);
  line-height: clamp(24px, 8vw, 48px);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  letter-spacing: -3%;
}
.card-text > p {
  margin-top: 1rem;
  font-size: clamp(12px, 4vw, 16px);
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  line-height: clamp(15.12px, 6vw, 24px);
  letter-spacing: -2%;
  max-width: 284px;
}
.cars-view {
  margin-top: 1rem;
  max-width: 497px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* ============================Right Card ====================== */
.right-card {
  width: 497px;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.top-righ-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}


}
.top-righ-card > .top-flex > h1 {
  color: rgba(26, 32, 44, 1);
  font-size: clamp(20px, 4vw, 32px);
  font-weight: 700;
}
.top-righ-card > .top-flex > i {
  color: rgba(237, 63, 63, 1);
  width: 24px;
  height: 24px;
}
.Stars-flex {
  display: flex;
  align-items: center;
  gap: 9px;
  flex-wrap: wrap;
}
.stars > i {
  color: rgba(251, 173, 57, 1);
}
.Stars-flex > p {
  color: rgba(89, 103, 128, 1);
  font-size: 14px;
}
/* ==================Bottom Right Card ======================= */
.bottom-right-card {
  margin-top: 2rem;
}
.bottom-right-card > p {
  color: rgba(89, 103, 128, 1);
  line-height: clamp(24px, 4vw, 40px);
  font-size: clamp(12px, 4vw, 20px);
}
.bottom-right-card > .details-car {
  margin-top: 1.4rem;
  display: flex;
  gap: 20px;
  /* max-width: 444px; */
  flex-wrap: wrap;
}
.types-flex2 {
  display: flex;
  gap: 16px;
  max-width: 444px;
}

.types-flex2 > h4 {
  color: rgba(144, 163, 191, 1);
  font-size: clamp(12px, 4vw, 20px);
  font-weight: 500;
}
.types-flex2 > p {
  color: rgba(89, 103, 128, 1);
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 600;
}

.price-rental-btn {
  margin-top: 1.4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
}

.price-rental-btn .price {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.car-price {
  font-size: 1rem;
  font-weight: bold;
  color: #1a202c;
}
.price-rental-btn .day {
  color: #90a3bf;
  font-weight: 550;
}

.old-price {
  text-decoration: line-through;
  font-size: 1rem;
  font-weight: 550;
  color: #90a3bf;
}
}
.rental-car:hover {
  background-color: #102e7a;
  transition: 0.3s ease-in-out;
}

/* ==================End of Right Card ====================== */

/* ==============================Reviews============================== */
.Reviews {
  background-color: #ffffff;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 1.7rem;
  margin-bottom: 2rem;
}
.reviews-person {
  max-width: 100%;
}
.reviews-flex {
  max-width: 100%;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.top-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-reviews > h4 {
  font-size: clamp(16px, 4vw, 20px);
  color: #1a202c;
  font-weight: bold;
}
.top-reviews > button {
  width: 44px;
  height: 28px;
  padding: 0px, 20px, 0px, 20px;
  background-color: #3563e9;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
}
.reviews-person-flex {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.review-flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.person-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
}
.person-details > h4 {
  color: rgba(26, 32, 44, 1);
  font-size: 16px;
}
.person-details > h2 {
  color: rgba(144, 163, 191, 1);
  font-size: 14px;
}
.person-rate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.person-rate > p {
  color: rgba(144, 163, 191, 1);
  font-size: 14px;
  letter-spacing: -2%;
}
.person-description {
  margin-top: 1.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 600px) {
  .person-description {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }
}
.show-all {
  cursor: pointer;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  color: rgba(144, 163, 191, 1);
  font-size: 16px;
  letter-spacing: -2%;
}
/* ====================================End Rviews List ================================= */

.Cars {
  margin-top: 3rem;
  display: flex;
  max-width: 1050px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}
.car-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(195, 212, 233, 0.4);
  max-width: 304px;
  height: 100%;
}

.car-box .top-car-box {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.top-car-box .title-favorite-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-favorite-icon h4 {
  font-size: 1.3rem;
  color: #1a202c;
  font-weight: bold;
}
.title-favorite-icon .favorite-icon {
  font-size: 1.5rem;
  color: #ff4423;
  cursor: pointer;
}
.title-favorite-icon .favorite-icon:hover {
  color: #596780;
  transition: all 0.3s ease-in-out;
}
.title-favorite-icon .wishlist {
  color: #596780;
  font-size: 1.5rem;
  cursor: pointer;
}
.wishlist:hover {
  color: #ff4423;
  transition: 0.3s ease-in-out;
}
.top-car-box span {
  color: #90a3bf;
  font-weight: bold;
  font-size: 0.9rem;
}

.car-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 252px;
  max-height: 112px;
  padding-top: 4rem;
}

/* car description */
.car-description {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.car-description .petrol,
.car-transmission,
.car-capacity {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.car-description .petrol span,
.car-transmission span,
.car-capacity span,
i {
  font-size: 0.9rem;
  font-weight: 500;
  color: #90a3bf;
}

/* price-rental-bt  section*/
.price-rental-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
}

.price-rental-btn .price {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.car-price {
  font-size: 1rem;
  font-weight: bold;
  color: #1a202c;
}
.price-rental-btn .day {
  color: #90a3bf;
  font-weight: 550;
}

.old-price {
  text-decoration: line-through;
  font-size: 1rem;
  font-weight: 550;
  color: #90a3bf;
}

.rental-car {
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  background-color: #3563e9;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
}
.rental-car:hover {
  background-color: #102e7a;
  transition: 0.3s ease-in-out;
}

/* ========================End Main Stylings======================== */

/* ===============================Footer Section ===================== */

/* Footer */
}
.footer-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-section .upper-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  border-bottom: 2px solid rgba(19, 19, 19, 0.16);
  padding-bottom: 2rem;
}
.upper-footer .footer-logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-logo .logo {
  font-size: clamp(0.8rem, 8vw, 2rem);
}
.footer-logo p {
  font-size: 16px;
  color: rgba(19, 19, 19, 0.6);
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.footer-links .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links p {
  font-size: 1rem;
  font-weight: 580;
  color: #1a202c;
}
.links a {
  text-decoration: none;
  font-size: 1rem;
  color: rgba(19, 19, 19, 0.6);
}
.links a:hover {
  color: #1a202c;
  transition: 0.3s ease-in-out;
}

/* Copyright-section */
.copyright-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.copyright-section p {
  color: #1a202c;
  font-weight: 700;
  font-size: clamp(0.7rem, 4vw, 1rem);
}

.copyright-section .privacy-terms {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.privacy-terms a {
  text-decoration: none;
  font-size: 1rem;
  color: #1a202c;
  font-weight: 600;
}
.privacy-terms a:hover {
  color: #102e7a;
  transition: 0.3s ease-in-out;
}
/* ====================================Media Querys For Responsive========================== */
/* Responsive design */ 
/* tablets and laptops */
@media (max-width: 850px) {
    .pc-device {
      display: none;
    }
  }
